.table_content{
	margin-top:20px;
	text-align: center;
	border: 1px solid black;
	width:100%;
}
thead{
	border-bottom: 1px solid black;
}
.table_num{
	width:10%;  border-bottom: 1.2px solid black;
}
.table_title{
	width:54%; border-bottom: 1.2px solid black;
}
.table_writer{
	width:13%; border-bottom: 1.2px solid black;
}
.table_date{
	width:30%; border-bottom: 1.2px solid black;
}
.t1,.t2,.t3,.t4{
	 border-bottom: 1px solid #dddddd;
	 font-size:11pt;
}
a{
	color:black;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
th{
	padding:5px;
}
td{
	padding:3px;
}
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1535 {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 10pt;
  margin: 15px 20px;
  outline: none;
  padding: 10px 15px;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
	left:-20px;
}
.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
}
.snip1535:before {
  border-color: black;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: black;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: black;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
}